body {
  margin: 0;

  background-image: url("https://apprecs.org/ios/images/app-icons/256/b0/665681840.jpg")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  width: 230px;
  font-size: xx-large;
}
